* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  height: auto;
  padding: 30px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
}

.d-flex {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 23px;
}

.title-header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.content {
  align-items: flex-start;
  gap: 40px;
}
.card-left {
  width: 40%;
  background: #fff;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
}

.card h3 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}

.card p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 20px;
}

.card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.card span {
  font-size: 14px;
  color: #007bff;
}

.content-right {
  width: 60%;
}
.text {
  width: 100%;
}

.text p {
  margin-bottom: 20px;
  color: #777;
  line-height: 1.7;
}

.text .bold {
  font-weight: bold;
  color: #333;
}
