.text-white {
  color: white;
}
.text-grey {
  color: grey;
}
.f-direction {
  flex-direction: flex-end;
}
/* p1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 12px 20px;
}

.nav-bar .logo {
  font-size: 18px;
  font-weight: bold;
}

.nav-bar nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.search-box input {
  padding: 6px;
  border-radius: 6px;
}

.bt-search {
  border: 1px solid white;
  padding: 6px 10px;
  cursor: pointer;
  background-color: #222;
  border-radius: 6px;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.title-bar {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.btn-add {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead {
  background: #f5f5f5;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background: #f9f9f9;
}

.btn-edit {
  background: #ffc107;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.bg-blue {
  background-color: #0d6efd;
}

.container1 {
  width: 60%;
  height: auto;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.header1 img {
  display: flex;
  width: 15px;
  height: 15px;
}

/* p2 */

.form-header {
  background: #1e6ef2;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-body {
  padding: 20px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.col {
  flex: 1;
}

.label-position {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.btn-save {
  background: #198754;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-cancel {
  background: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
