table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}
.col-1 {
  width: calc((100% / 12) * 1);
  padding: 8px;
  box-sizing: border-box;
}
.col-2 {
  width: calc((100% / 12) * 2);
  padding: 8px;
  box-sizing: border-box;
}
.col-3 {
  width: calc((100% / 12) * 3);
  padding: 8px;
  box-sizing: border-box;
}
.col-4 {
  width: calc((100% / 12) * 4);
  padding: 8px;
  box-sizing: border-box;
}
.col-6 {
  width: calc((100% / 12) * 6);
  padding: 8px;
  box-sizing: border-box;
}
.col-12 {
  width: calc((100% / 12) * 12);
  padding: 8px;
  box-sizing: border-box;
}
